<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarefas">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agendamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cadastros">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Cadastros</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="relatorios">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
