<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="tarefa != null">Tarefa: {{tarefa.numero}}</ion-title>
    <ion-button slot="end" size="small" >Editar <ion-icon name="create"></ion-icon> </ion-button>
  </ion-toolbar>
  </ion-header>
  <ion-content padding *ngIf="tarefa != null">
      <h4><ion-icon name="list-box"></ion-icon> Geral</h4>
      <ion-grid>
        <ion-row>
          <ion-col size ="8">  
              <ion-label position="floating">Tipo de Tarefa</ion-label>        
              <ion-select [ngModel]="tarefa.tipoTarefa.id" okText="Confirmar" cancelText="Cancelar">
                
                <ion-select-option *ngFor = "let tipo of tiposTarefas" [value]="tipo.id">{{tipo.descricao}}</ion-select-option>
              </ion-select>
          </ion-col> 
        </ion-row>
      </ion-grid>
      <h4><ion-icon name="calendar"></ion-icon> Horário</h4>
      <ion-item-divider ></ion-item-divider>
      <ion-grid>        
          <ion-row>
            <ion-col size="5">
              <ion-label position="stacked">Data</ion-label>
              <ion-datetime display-format="DD-MM-YYYY" max="2050-10-31"  picker-format="DD-MM-YYYY" [ngModel] = "tarefa.data_tarefa"></ion-datetime>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Inicio</ion-label>
              <ion-datetime display-format="HH:mm" picker-format="HH:mm" [ngModel] = "tarefa.inicio"></ion-datetime>
          </ion-col>
          <ion-col size="3">
            <ion-label position="stacked">Fim</ion-label>
            <ion-datetime display-format="HH:mm" picker-format="HH:mm" [ngModel] = "tarefa.fim"></ion-datetime>
        </ion-col>
            </ion-row>
          </ion-grid>
          <h4><ion-icon name="person"></ion-icon> Cliente</h4>
          <ion-item-divider ></ion-item-divider>
          <ion-grid>

              <ion-row>
                
              </ion-row>
          </ion-grid>
  </ion-content>